<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.example.helpservice">

    <uses-permission android:name="android.permission.INTERNET" />

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/Theme.HelpService">
        <activity android:name=".setprofile"></activity>
        <activity android:name=".phoneNumber" />
        <activity android:name=".Category" />
        <activity android:name=".signinup" />
        <activity android:name=".DemoDashboard" />
        <activity android:name=".otp" />
        <activity android:name=".forgetpassword" />
        <activity android:name=".Callservitors" />
        <activity android:name=".Blooddonation" />
        <activity android:name=".Booking" />
        <activity android:name=".servitorlist" />
        <activity android:name=".Forgetpass" />
        <activity android:name=".profile" />
        <activity android:name=".AdminDashboard2" />
        <activity android:name=".UpdateServitorsInfo" />
        <activity android:name=".AdminDashboard" />
        <activity android:name=".AddServitors" />
        <activity android:name=".WaterActivity" />
        <activity android:name=".ShiftingActivity" />
        <activity android:name=".ShoppingActivity" />
        <activity android:name=".HomeActivity" />
        <activity android:name=".MedicalActivity" />
        <activity android:name=".EmergencyActivity" />
        <activity android:name=".WifiActivity" />
        <activity android:name=".ElectricActivity" />
        <activity android:name=".ComputerActivity" />
        <activity android:name=".AirActivity" />
        <activity android:name=".servitorlogin" />
        <activity android:name=".servitorregister" />
        <activity android:name=".login" />
        <activity android:name=".Register" />
        <activity android:name=".option" />
        <activity android:name=".MainActivity" />
        <activity android:name=".splashscreen">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
    </application>

</manifest>